.DS_Store
node_modules
*.bbl
*.blg
*.fdb_latexmk
*.fls
uncertainty.out
uncertainty.log
uncertainty.aux
sample-eps-converted-to.pdf
uncertainty.synctex.gz
modules/dist
*.psd

paper/uncertainty.aux

paper/uncertainty.log

paper/uncertainty.out

paper/uncertainty.aux

paper/uncertainty.log

*.out

*.log

*.aux
