node_modules
*.bbl
*.blg
*.fdb_latexmk
*.fls
paper/uncertainty.out
paper/uncertainty.log
paper/uncertainty.aux
paper/pictures/sample-eps-converted-to.pdf
paper/uncertainty.synctex.gz
modules/dist
*.psd
