body {
  margin: 0;
}

iframe {
  border: none;
}

.stimulus {
  position: absolute;
  left: 25%;
  margin: auto;
  width: 300px;
  text-align: center;
}

.slider {
  width: 300px;
}

.trend {
  fill: none;
  stroke: #4b2e83;
  stroke-width: 5px;
}

.question {
  text-align: center;
  font-weight: bold;
}

.prompt {
  text-align: center;
}

.confirm {
  text-align: center;
}

.button{
  color: #fff;
  background-color: #428bca;
  border-color: #357ebd;
  font-size: 14px;
  border-radius: 4px;
  text-align: center;
  min-height: 1.5em;
}

.button:hover{
  background-color: #357ebd;
}

.button:disabled{
  border-color: #eee;
  background-color: #bbb;
}

.fcontainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin: auto;
  width: 95%
}

.figure{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 500px;
  border: 1px solid black;
}

.figure img{
  width: 50%;
}

.figure div{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border: 1px solid black;
}

.figure span{
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 5px;
}

.likert{
  min-width: 400px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

iframe{
  width: 100%;
  min-height: 600px;
  height: 90%;
  border: none;
}

#map rect:hover{
  stroke: black;
  stroke-width: 3px;
}

#map path:hover{
  stroke: black;
  stroke-width: 3px;
}

svg {
  font-family: sans-serif;
}

#mturk_form ol li {
  margin-bottom: 1em;
}

.sYellow{
  color: yellow; text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
}

.sPurple{
  color: purple;text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
}
